{% if __SELF__.category.has_text %}
<div class="wisiwig-content mb-10">
    {{ __SELF__.category.text | raw }}
</div>
{% endif %}

<div class="flex flex-col ">
    <div class="">
    {% for article in __SELF__.articles %}
        <div class="group hover:bg-main-100 flex gap-10 even:bg-main-50 p-1">
            <a href="{{ 'article' | page({slug: article.generateSlug() }) }}" class="block flex-1">
                <div class="font-light text-main hover:text-secondary">
                    {{ article.title }}
                </div>
            </a>
            <div>
                {{ article.getAuthor() }}
            </div>
            <div class="lg:w-24 text-right">
                {{ article.publishedAtForHumans() | replace({" ": "&nbsp;"}) | raw }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{{ __SELF__.articles.render|raw }}


